<footer>
  <div class="container">
    <div class="footerMaster">
      <div class="centrado">
        <h5 class="mb-1 title">SÍGUENOS EN NUESTRAS REDES SOCIALES</h5>

        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <img src="assets/icons/visa-logo.jpg" style="width: 30px;" />
          </li>
          <li class="list-inline-item">
            <img src="assets/icons/visa-logo.jpg" style="width: 30px;" />
          </li>
          <li class="list-inline-item">
            <img src="assets/icons/visa-logo.jpg" style="width: 30px;" />
          </li>
          <li class="list-inline-item">
            <img src="assets/icons/visa-logo.jpg" style="width: 30px;" />
          </li>
        </ul>

        <div>
          <div class="dividerA"></div>
          <div class="dividerB"></div>
        </div>


        <div>
          <!-- Footer -->
          <footer class="page-footer font-small blue pt-4">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-3 mt-md-0 mt-3" style="text-align: left;">

                  <!-- Content -->

                  <div class="metropolisRegular textContacto">
                    Datos de Contacto
                    <br>
                    <svg width="100%" height="2" viewBox="0 0 230 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 0.5L229.5 1" stroke="white" stroke-linecap="square" stroke-dasharray="2" />
                    </svg>
                  </div>

                  <div style="padding-bottom: 7px;">
                    <img src="assets/icons/visa-logo.jpg" style="width: 30px;" />
                    <label style="padding-left: 5px; " class="contentContact">
                      948 584 567
                    </label>
                  </div>
                  <div style="padding-bottom: 7px;">
                    <img src="assets/icons/visa-logo.jpg" style="width: 30px;" />
                    <label style="padding-left: 5px; " class="contentContact">
                      (01) 445 3019
                    </label>
                  </div>
                  <div style="padding-bottom: 7px;">
                    <img src="assets/icons/visa-logo.jpg" style="width: 30px;" />
                    <label style="padding-left: 5px; " class="contentContact">
                      ventas@globalredsalud.com
                    </label>
                  </div>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-6" style="text-align: left;">

                  <div class="metropolisRegular textContacto" style="align-content: left;">
                    Mi Sitio
                    <br>
                    <svg width="90%" height="2" viewBox="0 0 383 2"  fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 0.5L381.75 1" stroke="white" stroke-linecap="square" stroke-dasharray="2" />
                    </svg>
                  </div>
                  <div style="display:  inline-flex;">
                    <div style="padding-right: 50px;">
                      <div style="padding-bottom: 7px;">
                        <img src="assets/icons/Path.svg" style="width: 16px;" />
                        <label style="padding-left: 10px; " class="contentContact">
                          inicio
                        </label>
                      </div>
                      <div style="padding-bottom: 7px;">
                        <img src="assets/icons/Path.svg" style="width: 16px;" />
                        <label style="padding-left: 10px; " class="contentContact">
                          Conócenos
                        </label>
                      </div>
                      <div style="padding-bottom: 7px;">
                        <img src="assets/icons/Path.svg" style="width: 16px;" />
                        <label style="padding-left: 10px; " class="contentContact">
                          Servicios
                        </label>
                      </div>
                      <div style="padding-bottom: 7px;">
                        <img src="assets/icons/Path.svg" style="width: 16px;" />
                        <label style="padding-left: 10px; " class="contentContact">
                          Coberturas
                        </label>
                      </div>
                    </div>
                    <div>
                      <div style="padding-bottom: 7px;">
                        <img src="assets/icons/Path.svg" style="width: 16px;" />
                        <label style="padding-left: 10px; " class="contentContact">
                          Planes de Salud
                        </label>
                      </div>
                      <div style="padding-bottom: 7px;">
                        <img src="assets/icons/Path.svg" style="width: 16px;" />
                        <label style="padding-left: 10px; " class="contentContact">
                          Contacto
                        </label>
                      </div>
                      <div style="padding-bottom: 7px;">
                        <img src="assets/icons/Path.svg" style="width: 16px;" />
                        <label style="padding-left: 10px; " class="contentContact">
                          Mi Red Global
                        </label>
                      </div>
                      <div style="padding-bottom: 7px;">
                        <img src="assets/icons/Path.svg" style="width: 16px;" />
                        <label style="padding-left: 10px; " class="contentContact">
                          Preguntas Frecuentes
                        </label>
                      </div>
                    </div>
                  </div>



                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3" style="text-align: left;">

                  <div class="metropolisRegular textContacto">
                    Nuestro Compromiso
                    <br>
                    <svg width="110%" height="2" viewBox="0 0 227 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 0.5L226.625 1" stroke="white" stroke-linecap="square" stroke-dasharray="2"/>
                      </svg>
                      
                      
                  </div>

                  <div style="padding-bottom: 7px; padding-top: 5px; display: inline-flexbox; text-align: center;">
                    <button type="button" class="btn btn-outline-light" style="width: 100%; margin-bottom: 15px;">
                      
                     <div style="display: inline-flex; ">
                       <img src="assets/icons/cruzicono.svg" style="width: 19px; padding-top: 5px;" />
                        <label style="padding-left: 5px; padding-top: 7px;" class="contentContact botones">
                       Términos y Condiciones
                      </label>
                     </div>
                     
                      </button>

                      <button type="button" class="btn btn-outline-light"  style="width: 100%; margin-bottom: 15px;">
                        
                       <div style="display: inline-flex; ">
                        <img src="assets/icons/cruzicono.svg" style="width: 19px; padding-top: 5px;" />
                          <label style="padding-left: 5px; padding-top: 7px;" class="contentContact botones">
                         Coberturas y Exclusiones
                        </label>
                       </div>
                       
                        </button>
                  </div>
      
      

                </div>
              </div>
            </div>
          </footer>
        </div>

      </div>




      <div class="footerMaster">
        <div class="centrado">

          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">

              <div id="contenedor" class="mb-5 flex-center" style="padding-top: 8vh;">
                <code class="metropolisRegular pago">Formas de Pago</code>

                <!-- Call to action -->

                <!-- Facebook -->

                <!-- Twitter -->
                <a class="tw-ic">
                  <img src="assets/icons/visa-logo.jpg" style="width: 30px; margin: 10px;" />
                </a>
                <a class="tw-ic">
                  <img src="assets/icons/visa-logo.jpg" style="width: 30px; margin: 10px;" />
                </a>
                <a class="tw-ic">
                  <img src="assets/icons/visa-logo.jpg" style="width: 30px; margin: 10px;" />
                </a>
                <a class="tw-ic">
                  <img src="assets/icons/visa-logo.jpg" style="width: 30px; margin: 10px;" />
                </a>
              </div>
            </div>
            <!-- Grid column -->

          </div>
        </div>
        <svg viewBox="0 0 1440 89" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.201056" fill-rule="evenodd" clip-rule="evenodd"
            d="M-1 37C-1 37 334.781 0 714.891 0C1095 0 1441 37 1441 37V89H-1V37Z" fill="#01387B" />
        </svg>
      </div>

      <svg id="ground" viewBox="0 0 1440 587" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M-1 0L1241.56 67.2401C1355.09 73.3837 1444 167.232 1444 280.927V587H-1V0Z" fill="#2271BF" />
      </svg>


    </div>
  </div>

</footer>