

.background{
  height:40%;
  width: 100%;
    background: url(/assets/icons/footer/Rectangle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
   box-sizing: border-box;
    bottom:0; 
    left: 0;
   top: 0;
    position: relative;
  }


  .backgroundPie{
     width: 100%;
    height: auto;
    background-image: url(/assets/icons/footer/curvaFooter.svg);
    background-size: 100% 100%;
    }

    .backgroundPieMayor{
 //     width: 100%;
 height:auto;
// width: 100%;
     background-image: url(/assets/icons/footer/Rectangle.svg);
     background-size: 100% 100%;
   //  background-repeat: no-repeat;
    // background-size: contain;
   //  background-origin: content-box;
   // box-sizing: border-box;
     //bottom:0; 
    // left: 0;
   // top: 120;
    // position: relative;    
     }
//fin footer
  .footerMaster {
    //position: fixed;
    //left: 0;
   //bottom: 0;  
  // display: flex;
   //flex-direction: column;

   margin: auto;
    width: 70%;    
    color: white;
    text-align: center;    
    //overflow: hidden;
    
  }

  .centrado{
    width: 80%;
    margin: auto;
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);

}

.title{  
 // font-weight: 700;
 font-size: 13px;
  line-height: 18px;
  letter-spacing: 2px;
}
.pago{  
  line-height: 13px;
  letter-spacing: 0.32px;
  font-style: normal;
  font-size: smaller;
  margin-right: 20px;
  text-align: left;
}

code { 
  width: 50px;  
  color: white; 
  display: inline-block; 
  vertical-align: middle; }

  .dividerA{ 
width: 70vw;
height: 1px;
margin: auto;
//left: 250px;
//top: 6668px;
background-color: #0c4c8c9d;
  }
  .dividerB{ 
 width: 70vw;
height: 1px;
margin: auto;
//left: 250px;
//top: 6669px;
background-color:#489aeb6b;
  }


.textContacto{
  line-height: 20px;
  font-weight: 550;
  letter-spacing: 0.3px;  
  font-size: 12px;
  margin-right: 20px;
  text-align: left;
}

.contentContact{ 
font-weight: 300;
font-size: 11px;
line-height: 18px;
letter-spacing: 0.3px;
color: #FFFFFF;
}
button:hover {
  background-color: #0c4c8c9d;
}
button{
  border-radius: 15px;
}

.botones{  
  line-height: 13px;
  letter-spacing: 0.32px; 
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  
}



.footer {
  background-color: #CCCCFF;
  margin-top: 50px;
  margin-left: 0;
  width: 100%;
}

.eye{
  position:absolute;
  height:auto;
  width:100%;
 // top: 40px;
 //left : 40px;
  //z-index: 1;
}

.heaven
{
  
  height:auto;
  width:100%;
  //z-index: -1;
}