
<footer>
   <div class="container">
<div class="footerMaster">
    <div class="centrado">
      <h5 class="mb-1">SÍGUENOS EN NUESTRAS REDES SOCIALES</h5>

      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <img src="assets/icons/visa-logo.jpg" style="width: 30px;"/>    
        </li>
        <li class="list-inline-item">
            <img src="assets/icons/visa-logo.jpg" style="width: 30px;"/>    
        </li>
        <li class="list-inline-item">
            <img src="assets/icons/visa-logo.jpg" style="width: 30px;"/>    
        </li>
        <li class="list-inline-item">
            <img src="assets/icons/visa-logo.jpg" style="width: 30px;"/>    
        </li>
      </ul>
    </div>
     <svg id="ground" viewBox="0 0 1440 587" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M-1 0L1241.56 67.2401C1355.09 73.3837 1444 167.232 1444 280.927V587H-1V0Z" fill="#2271BF"/>
            
            </svg>
    
<div class="subFooter">
    
    <div class="row">
        <div class="col-md-12 py-5">
            <div class="mb-5 flex-center">
              
                <a class="fb-ic">
                 
               
                </a>                
            </div>
        </div>
    </div>       
</div>   
</div>
   </div>

</footer>

<!--
   
<footer class="page-footer font-small cyan darken-3">

    <div class="container">

      <div class="row">

        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            <a class="fb-ic">
                
                <img src="assets/icons/visa-logo.jpg" />    
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a class="gplus-ic">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
     </div>
  
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
 
  </footer>
-->
