<div class="background">
  <div class="container ">


    <div class="row metropolisRegular ">
      <div class="col-sm-7 ">
        <img src="assets/icons/2xlogoGlobalRGB.png" style="width: 20%;" />
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-light buttonText">
          <div style="display: inline-flex; ">
            <img src="assets/icons/header/iconocoberturas2x.svg" style="width: 19px; padding-top: 5px;" />
            <label style="padding-left: 5px; padding-top: 7px;">
              Coberturas
            </label>
          </div>
        </button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-light buttonText">

          <div style="display: inline-flex; ">
            <img src="assets/icons/header/iconocoberturas2x.svg" style="width: 19px; padding-top: 5px;" />
            <label style="padding-left: 5px; padding-top: 7px;">
              Planes de Salud
            </label>
          </div>
        </button>
      </div>
      <div class="col-sm-1">
        <!--
        <button type="button" class="btn btn-light">Light</button>
      -->
      <!--
        boton animado
        app-nav-icon [color]="color" (toggled)="toggled=$event"></app-nav-icon>
        <p *ngIf="toggled != true">menu abierto</p>
      -->
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-7" style="width: 55%; padding-left: 150px; padding-top: 80px;">

                  <div >
                  
                        <div class="container">
                          <div class="barra" style="margin-left: 20px;">
                            <div style="margin-left: 15px;">
                                <label class="metropolisExtraBold subHeader">
                            Compara y elige la mejor opción para ti y tu familia
                          </label>
                            </div>
                          
                          </div>
                          
                        <div style="float:left; margin-left: 20px;">
                          
                          <label class="metropolisExtraBold subHeader2">
                            Más protegido,
                          </label>
                          <label class="metropolisExtraBold subHeader3">
                            más tranquilo
                          </label>
                        </div>
                       
                        <div style="margin-left: 20px;">
                        

                          <button type="button" class="btn btn-warning buttonWarning metropolisBold fontButtton"  style="width: 45%;">
                            
                            <div style="display: inline-flex; ">
                             
                               <label style="padding-right: 5px; padding-top: 7px;" class="botones">
                              ASESORÍA GRATUITA
                             </label>
                             <img src="assets/icons/header/Path23x.png" style="width: 10px; height: 15px; margin-top: 5px;" />
                            </div>
                            
                             </button>

                        </div>
                    </div>
                    
                        </div>
                  
                  <div >
                    
                    <div>
                     
                    </div>
                    
                  </div>

                </div>
                <div class="col-sm-5" style="margin-top: 50px; padding-right: 80px;">
                  <div style="position: relative;">
                    <img src="assets/icons/header/slide_1/corazonesslide1.png" class="d-block w-100 eye">
                    <img src="assets/icons/header/slide_1/imaslide12x.png" class="d-block w-100   ">
                  </div>

                </div>
              </div>

            </div>


          </div>
          <button    class="carousel-control-prev"  type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon"   aria-hidden="true"></span>
            <span  class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
  </div>



</div>