.background{
  width: 100%;
//position: relative;

  height: 50vh;
  margin: auto;
    background: url(/assets/icons/asidefacil/fondo.svg);
    background-repeat: no-repeat;
    //background-size: contain;
    //background-origin: content-box;
  //  box-sizing: border-box;
  }
//card
button{
  border-radius: 23px;
  height: 46px;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
.centrado{
  width: 70%;
  margin: auto;
}
.buttonText{
  font-size: 17px;
  color:  #01387B;
  line-height: 17px;
  letter-spacing: 0.034px;
  font-weight: bold;
}


.subHeader{
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.0071429px;
  color: #01387B;
  width: 305px;
}

.subHeader2{
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.3px;
  color: #008467;
  width: 250px;
  font-style: normal;
  font-weight: bold;
}
.subHeader3{
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.375px;
  color: #01387B;
  width: 165px;
  font-style: normal;
}
.field {
  display: table;  
}

.label,.value{
  display: table-cell;
}

.label {  
  min-width: 80px;
}

.value {  
  width: 25%;  
  padding-bottom: 20px;
  vertical-align: bottom;
}
.subHeader4{
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.375px;
  color: #01387B;
  width: auto;
  font-style: normal;
}

.subHeader5{
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.375px;
  color: #ffffff;
  width: auto;
  font-style: normal;
  //padding: 20px;
}
.fontButtton{
  letter-spacing: 1.8px;
  font-size: 15px;
}


  .botones{  
    line-height: 13px;
    letter-spacing: 0.32px; 
  }

   .backgroundgota{        
       background-image: url(/assets/icons/asidefacil/splash2x.svg);       
     background-repeat: no-repeat;
     background-size: contain;
     background-origin: content-box;
     box-sizing: border-box;
       }

 .backgroundFacil{
   width: 200px; 
     background: url(/assets/icons/asidefacil/facil.svg);
     background-repeat: no-repeat;
     background-size: contain;
     background-origin: content-box;
     box-sizing: border-box;
   }

   .textPasos{     
     color: #01387B;
     font-weight: bold;
     //width: 221px;
     line-height: 17px;
     text-align: center;
     //font-size: 1;
     letter-spacing: 0.0257143px;
   }

   .circulo{
     width: 32px;
     height: 32px;
     background-color: #008467;
     border-radius: 50%;
     margin: auto;
   }

   .padre {
    //background: yellow;
    margin: 0;
   // height: 150px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
