<div class="container centrado">
  <div class="row ">
    <div class="col-sm-7 background" >
      <div style="float:left; margin-left: 90px; margin-top: 12vh;">
        <div class="field">
          <div class="label">
            <label class="metropolisExtraBold subHeader3 ">
              Cuídate
            </label>
          </div>
          <div class="value backgroundgota"></div>
        </div>
        <label class="metropolisExtraBold subHeader4">
          ¡Así de
        </label>
        <label class="metropolisExtraBold subHeader5">
          <div class="backgroundFacil" style="margin-left: 10px;">
            <div style="margin-left: 23px;">
              fácil!
            </div>
          </div>
        </label>
        <br>
        <label class="subHeader2">
          Desde casa y en menos de 3 minutos
        </label>
      </div>
     


    </div>


  </div>
  <br>
  <br>
  <div >
    <app-ciclo></app-ciclo>
  </div>
  <br>
<!--


<div class="row metropolisRegular textPasos" style="margin: 0;">

  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <div >
        <div>
          <img src="assets/icons/asidefacil/eligeplansalud2x.svg" style="width: 100%; margin-bottom: 15px; margin-top: 15px;" />
        </div>
              <label style="margin-top: 5px;">Elige tu Plan de Salud</label>
                <div class="circulo">
                  <div style="color: rgb(255, 255, 255); padding-top: 7px; ">
                    1
                  </div>
        
                </div>
            </div>
    </div>
    <div class="col-md-auto padre">
      <div>
        <div>
          <img src="assets/icons/asidefacil/union1_2x.svg" style="width: 60px;"/>
        </div>              
      </div>
    </div>
    <div class="col col-lg-2">
      <div style="margin-top: 30px;">
        <div class="circulo">
                 <div style="color: rgb(255, 255, 255); padding-top: 7px; ">
                   2
                 </div>      
               </div>
           <label style="margin-top: 5px;">Ingresa tus datos</label>   
       <div>
         <img src="assets/icons/asidefacil/ingresadatos2x.svg" style="width: 100%; margin-bottom: 15px; margin-top: 15px;" />
       </div>  
           </div>
    </div>

    <div class="col-md-auto padre">
      <div>
        <div>
          <img src="assets/icons/asidefacil/union2x.svg" style="width: 60px;"/>
        </div>              
      </div>
    </div>
    <div class="col col-lg-2">
      <div >
        <div>
         <img src="assets/icons/asidefacil/seleccionapago2x.svg" style="width: 100%; margin-bottom: 15px; margin-top: 15px;" />
       </div>  
       <label style="margin-top: 5px;">Selecciona tu medio de pago</label>   
        <div class="circulo">
                 <div style="color: rgb(255, 255, 255); padding-top: 7px; ">
                   3
                 </div>      
               </div>
           
      
           </div>
    </div>

    <div class="col-md-auto padre">
      <div>
        <div>
          <img src="assets/icons/asidefacil/union3x.svg" style="width: 60px;"/>
        </div>              
      </div>
    </div>
    <div class="col col-lg-2">
      <div style="margin-top: 30px;">
        <div class="circulo">
                 <div style="color: rgb(255, 255, 255); padding-top: 7px; ">
                   4
                 </div>      
               </div>
           <label style="margin-top: 5px;">Recibe correo de bienvenida</label>   
       <div>
         <img src="assets/icons/asidefacil/recibecorreo.svg" style="width: 100%; margin-bottom: 15px; margin-top: 15px;" />
       </div>  
           </div>
    </div>
  </div>




  <div class="col-sm-2">

  </div>
  <div class="col-sm-1 padre">
   
    
  </div>
  <div class="col-sm-1">
    
  </div>
  <div class="col-sm-1 padre">
 
    
  </div>
  <div class="col-sm-1" >

  </div>
  <div class="col-sm-1 padre">
   
    
  </div>
  <div class="col-sm-1">
  
  </div>
  <div class="col-sm-1 padre">
    <div>
      <div>
        <img src="assets/icons/asidefacil/union4x.svg" style="width: 60px;"/>
      </div>              
    </div>
    
  </div>
  <div class="col-sm-1">
    <div >
       <div>
        <img src="assets/icons/asidefacil/ingresadatos2x.svg" style="width: 100%; margin-bottom: 15px; margin-top: 15px;" />
      </div>
          <label style="margin-top: 5px;">Atiéndete hoy</label> 
       <div class="circulo">
                <div style="color: rgb(255, 255, 255); padding-top: 7px; ">
                  5
                </div>      
              </div>
        
       
          </div>
  </div>
  <div class="col-sm-1 padre">
    <div>
      <div>
        <img src="assets/icons/asidefacil/union5x.svg" style="width: 60px;"/>
      </div>              
    </div>
    
  </div>
  <div class="col-sm-1">
    <div style="margin-top: 30px;">
       
      <div class="circulo">
                <div style="color: rgb(255, 255, 255); padding-top: 7px; ">
                  6
                </div>      
              </div>
          <label style="margin-top: 5px;">Vive tranquilo</label> 
       
        <div>
        <img src="assets/icons/asidefacil/ingresadatos2x.svg" style="width: 100%; margin-bottom: 15px; margin-top: 15px;" />
      </div>
       
          </div>
  </div>
</div>
-->
</div>