
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$RedSaludGlobal-primary: mat-palette($mat-indigo);
$RedSaludGlobal-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$RedSaludGlobal-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$RedSaludGlobal-theme: mat-light-theme((
  color: (
    primary: $RedSaludGlobal-primary,
    accent: $RedSaludGlobal-accent,
    warn: $RedSaludGlobal-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($RedSaludGlobal-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: 'Metropolis-Regular';
  src: url('/assets/fonts/METROPOLIS/Metropolis-Regular.otf');
  //font-weight: 400;     
}

.metropolisBold{
  font-family: "Metropolis-Bold" !important;
}

@font-face {
  font-family: 'Metropolis-Bold';
  src: url('/assets/fonts/METROPOLIS/Metropolis-Bold.otf');
  //font-weight: 400;     
}

.metropolisExtraBold{
  font-family: "Metropolis-ExtraBold" !important;
}

@font-face {
  font-family: 'Metropolis-ExtraBold';
  src: url('/assets/fonts/METROPOLIS/Metropolis-ExtraBold.otf');
  //font-weight: 400;     
}

.metropolisRegular{
  font-family: "Metropolis-Regular" !important;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/ROBOTO/Roboto-Regular.ttf');
  //font-weight: 400;
}

.robotoRegular{
  font-family: "Roboto-Regular" !important;
}

.buttonWarning{
  background-color: #F6991E;
  color: rgb(255, 255, 255);
  height: 57px;
  border-radius: 28,5px;
}